<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/product/pro" method="post">
        <input type="text" placeholder="title" name="title">
        <input type="text" placeholder="Description" name="desc">
        <input type="url" placeholder="Image" name="img">
        <input type="number" placeholder="Price" name="Price">
        <input type="submit">
    </form>
</body>
</html>